:root{ 
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);  
     --slate: #8892b0;
    --dark-slate: #495670;
  
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: hsla(166, 71%, 47%, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;  
 }
 
 *{ 
    margin: 0; 
    padding: 0;  
    box-sizing: border-box; 
    text-decoration: none; 
    border: none; 
    


 } 
 html{ 
    font-size: 62.5%; 
    overflow-x: hidden;

 } 
 body{ 
    background: var(--dark-navy); 
    color: var(--light-slate); 
    
 } 
 .header{ 
    position:fixed; 
    left: 0;  
    top: 0; 
    padding: 2rem 9%; 
    background: var(--dark-navy); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 100;

 } 
 .logo{ 
    width: 4%; 
    height: auto;  
    cursor: no-drop;
   
 }  
 
.navbar a{ 
    font-size: 1.7rem; 
    color:var( --slate); 
    margin-left: 4rem; 
    transition: .3s; 
    font-weight:500px; 
    padding: 3rem;

} 
.navbar a:hover, 
.navbar a.active{  
    color: var(--blue);
} 
#menu-icon{  
    font-size:3.6rem; 
    color: var(--slate); 
    display: none;

} 
section{ 
    min-height: 100vh; 
    padding:10rem 9% 2rem; 

} 
.home{ 
    display:flex; 
    justify-content: center; 
    align-items: center; 
} 
.home-content h3{ 
    font-size: 2.2rem; 
    font-weight: 400; 
    color: var(--green);  
} 
#home{ 
   
    height: 52vh; 
    margin-left: 30%; 
    border-radius: 5%; 
    box-shadow: var(--navy-shadow) .5rem .75rem;
}  

.home-content h1{ 
  color: var(--lightest-slate);   
  font-size: 5.9rem; 
  font-weight: 700; 


} 
.home-content h2{ 
    color:var(--dark-slate); 
    font-size: 4.1rem; 
} 
.home-content p{ 
    color: var(--white); 
    font-size: 1.6rem;
}  
.social-media a{  
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 4rem; 
    height: 4rem; 
    background: transparent; 
    border: .2rem solid var( --light-slate); 
    border-radius: 50%; 
    font-size: 2rem; 
    color:var(--blue);  
    margin: 3rem 1.5rem 3rem 0; 


} 
.social-media a:hover{  
    box-shadow: 0 0 1rem var(--navy); 
    font-size: 3rem;
} 
.btn{ 
    display: inline-block; 
    padding: 1rem 2.8rem; 
    background-color:var(--dark-navy); 
    box-shadow: 0 0 1rem var(--green); 
    color: var(--green); 
    font-size: 15px; 
    border-radius: 5%; 
    font-weight: 500; 
    transition: .1s;
} 
.btn:hover{ 
    background-color: var( --navy); 
    font-size:18px;
} 
.about{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 8rem; 
    background-color:var(--navy) ;
} 
.about-img img{  
    width: 24vw;   
    max-height: min-content; 
    
    

}  
.heading{ 
    text-align: center; 
    font-size: 4.5rem;  
    margin-top: -110px; 
    color: var(--white);

}  
span{ 
    color: var(--blue);
}
.about-content p{   
    text-align: left; 
    line-height: 2.2rem;  
    font-size: 1.5rem; 
    margin: 2rem 0 3rem;


}  
.skills{ 
    background-color:var(--navy);
}
.skills h2{  
    margin-bottom: 5rem; 
    margin-top: 2px;  
   
   

 
} 
.skill-container{  
    display: flex; 
    justify-content:left;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 2rem; 


}    
.skill-box h3{ 
    color: var(--blue); 
    font-size: 2.6rem;
} 
.skill-box p{ 
    font-size: 1.8rem; 
    color: var(--white); 
    line-height: 3.5rem; 
    
} 
.skill-main{ 
    display: inline-flex; 
    gap: 3rem;
} 
.skill-box i{ 
    margin-top: 10px;
}  
.contact{ 
    background-color: var(--navy);
}

.contact h2{  
    margin-bottom: 3rem; 
   

} 
.contact form{ 
    min-width: 70rem; 
    margin-bottom: 3rem; 
    margin-top: 40px;
}
 
.contact form .input-box{ 
display: flex; 
justify-content: space-between; 
flex-wrap: wrap;  

} 
.contact form .input-box input,  
.contact form textarea { 
    width: 100%; 
    padding: 1.5rem; 
    font-size: 1.6rem; 
    color: #8892b0; 
    background-color: var(--dark-navy); 
    border-radius: .8rem; 
    margin: .7rem 0; 

}  
.contact form .input-box input{ 
    width: 49%; 

} 
.contact form textarea{ 
    resize: none;
} 
.contact form .btn{ 
    margin-top: 2rem; 
    cursor: pointer; 
    margin-left: 46%;
}
.contact p{ 
    font-size: 2.3rem; 
    color: var(--lightest-slate); 
    text-align: center;
}
.contact h3{ 
    font-size: 1.7rem; 
    color: var(--green); 
    text-align: center;
}
.footer{ 
    background-color:var(--dark-navy); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    padding: 2rem 9%; 

} 
.footer-text{ 
    font-size: 1.6rem; 
    margin-left: 40%;
}
.work{ 
    background-color: var(--navy);
} 
.work-container{ 
 margin-left: 30px; 
 padding: 3rem 0;

} 
.work-content{ 
    gap: 40px;  
    display: flex;
   
} 
.inner-img img{
    padding: 30px; 
    width: 590px;  
    height: 620px;

}  

.inner-text{ 
    flex-direction: column; 
    align-items: flex-start;
} 
.work-heading{ 
    text-align: center; 
    font-size: 4.5rem;  
    margin-top: -110px; 
    color: var(--white); 
} 
.inner-text h3{ 
    font-size: 3.1rem; 
    color: var(--light-slate); 
    margin-top: 182px;  
    margin-left: 90px;
    text-align: center; 
   
} 
.inner-text p{ 
    color: var(--white); 
    font-size: 1.9rem; 
    text-align: center; 
    margin-top: 30px;
}